apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: operator
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/rh-acs-tenant/acs/operator@sha256:56bffcd638bddde77bd856481244833abc8820c1af5e057dd13a33231413a31d
        name: container-image
        resources: {}
status: {}
